* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body Styling Start */


/* Body Styling End */



/* Header Styling Start */


/* Header Styling End */



/* Footer Styling Start */


/* Footer Styling End */


/* Hero Styling Start */


/* Hero Styling End */








/* Media Queries Start */

/* Media Queries End */
